<div class="row">
	<div
		class="col-lg-3 col-md-3 col-sm-6 mb-3 custom-card">
		<!-- Card -->
			<div
				class="card">
				<!-- Card content -->
				<div class="card-body">

					<section id="circlebar-tbs">
						<div data-value="0.76" data-size="200" data-thickness="30" class="round">
							<strong class="strong"></strong>
						</div>
					</section>

				</div>

				<div class="card-footer text-muted text-center">
					<i class="fa fa-university"></i>
					TBS 2018
				</div>

			</div>
		<!-- Card -->
	</div>
	<div
		class="col-lg-3 col-md-3 col-sm-6 mb-3 custom-card">
		<!-- Card -->
		<div
			class="card">
			<!-- Card content -->
			<div class="card-body">

				<!-- Title -->
				<!-- Text -->
					<section id="circlebar-bac"> <div data-value="0.55" data-size="200" data-thickness="30" class="round-bac">
						<strong class="strong-bac"></strong>
					</div>
				</section>
			</div>
			<div class="card-footer text-muted text-center">
				Taux de réussite au Bac
			</div>

		</div>
		<!-- Card -->
	</div>
	<div
		class="col-lg-3 col-md-3 col-sm-6 mb-3 custom-card">
		<!-- Card -->
		<div
			class="card">
			<!-- Card content -->
			<div
				class="card-body">
				<!-- Text -->
				<section id="circlebar-chomage">
					<div data-value="0.70" data-size="200" data-thickness="30" class="round-chomage">
						<strong class="strong-chomage"></strong>
					</div>
				</section>
			</div>
			<div class="card-footer text-muted text-center">
				Taux de chomage
			</div>

		</div>
		<!-- Card -->
	</div>
	<div
		class="col-lg-3 col-md-3 col-sm-6 mb-3 custom-card">
		<!-- Card -->
		<div
			class="card">
			<!-- Card content -->
			<div
				class="card-body">
				<!-- Text -->
				<section id="circlebar-alpha">
					<div data-value="0.85" data-size="200" data-thickness="30" class="round-alpha">
						<strong class="strong-alpha"></strong>
					</div>
				</section>
			</div>
			<div class="card-footer text-muted text-center">
				Taux d'alphabétisation
			</div>

		</div>
		<!-- Card -->
	</div>
</div>
