{% extends "commun/base.html" %}

{% load static %}

{% block stylesheets %}

	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'chart/Chart.css' %}">

	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


{% endblock %}
{% block body %}
	<div class="container-fluid">
		{% include "commun/header.html" %}
	</div>

	<div class="custom">
		<div class="container">
			<div class="row  mb-5">
				<div class="col-12">
					<h1 class="text-center titre">Bienvenue MarketIntel</h1>
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-lg-3 col-md-3"></div>
				<div class="col-lg-6 col-md-6">
					<form class="form-inline" action="{% url 'recherche_results' %}" method="GET">
						<div class="md-form active-purple-2 mb-3 autocomplete">
							<input id="inputSearch" name="q" class="form-control" type="search" placeholder="Rechercher par un mot ou une question" aria-label="Search">
						</div>
						<button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">
							<i class="fas fa-search fa-2x"></i>
						</button>
					</form>
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-12">
					<h2 class="text-center titre">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ea porro, repellendus culpa doloribus natus magni, ad cupiditate fugit dicta nisi sequi id, fugiat dolor! Voluptatibus, libero sed! Necessitatibus, minus!</h2>
				</div>
			</div>

			{% include "commun/circlebar.html" %}
		</div>
	</div>

	<div class="container">
		<div class="row mt-4 mb-4">
			<div class="col-lg-4 col-md-4 col-sm-12 mb-2">
				<h6 class="text-center">Investissement de l'Etat</h6>
				<h2 class="text-center">1 000 000 000</h2>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 mb-2">
				<h6 class="text-center">Cout Moyen de formation</h6>
				<h2 class="text-center">650 000</h2>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<h6 class="text-center">Evaluation des dépenses</h6>
				<h2 class="text-center">25 000 000 000</h2>
			</div>
		</div>
	</div>


	<div class="container-fluid fluid">
		<div class="row pt-5 mb-4">
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="card">
					<a type="button" class="collapsible sidenav color">Education
					</a>
					<div class="content">
						<ul class="list-group list-group-flush">

							<a href="{% url 'education:education_prescolaire' 2020 %}" type="button" class="list">
								<li class="list-group-item">Préscolaire
								</li>
							</a>
							<a href="{% url 'education:education_elementaire' %}" type="button" class="list">
								<li class="list-group-item">Primaire</li>
							</a>
							<a type="button" class="list">
								<li class="list-group-item">Moyen</li>
							</a>
							<a type="button" class="list">
								<li class="list-group-item">Secondaire</li>
							</a>
							<a type="button" class="list">
								<li class="list-group-item">Elémentaire</li>
							</a>
						</ul>
					</div>
					<a type="button" class="collapsible sidenav notColor">Santé
					</a>
					<div class="content">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Cras justo odio</li>
							<li class="list-group-item">Dapibus ac facilisis in</li>
							<li class="list-group-item">Vestibulum at eros</li>
						</ul>
					</div>
					<a type="button" class="collapsible sidenav color">Transport
					</a>
					<div class="content">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Cras justo odio</li>
							<li class="list-group-item">Dapibus ac facilisis in</li>
							<li class="list-group-item">Vestibulum at eros</li>
						</ul>
					</div>
					<a type="button" class="collapsible sidenav notColor">Agriculture
					</a>
					<div class="content">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Cras justo odio</li>
							<li class="list-group-item">Dapibus ac facilisis in</li>
							<li class="list-group-item">Vestibulum at eros</li>
						</ul>
					</div>

				</div>

				<div class="row mt-2">
					<div class="col-12">
						<h2 class="mt-2">Annonces</h2>
						<div class="card">
							<div class="card-body"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-md-8">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6 effectif">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title text-center">Effectif Total Apprenants</h6>
								<h6 class="text-center">12 000</h6>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 effectif">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title text-center">Effectif Etude Supérieure</h6>
								<h6 class="text-center">12 000</h6>

							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 effectif">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title text-center">Effectif Secondaire</h6>
								<h6 class="text-center">12 000</h6>

							</div>
						</div>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title text-center">Effectif Total Apprenants</h6>
								<h6 class="text-center">12 000</h6>

							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 effectif">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title text-center">Effectif Etude Supérieure</h6>
								<h6 class="text-center">12 000</h6>

							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 effectif">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title text-center">Effectif Secondaire</h6>
								<h6 class="text-center">12 000</h6>

							</div>
						</div>
					</div>
				</div>

				<div class="row mt-4">
					<div class="col-lg-12 col-md-12">
						<div class="card" style="height: 500px;">
							<div class="card-body">
								<h6 class="card-title text-start">TAUX DE CHOMAGE / NIVEAU</h6>

								<div id="chartContainer1" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>


		<div class="row mt-2 mb-2 pb-5">
			<div class="col-lg-4 col-md-4 col-sm-0"></div>
			<div class="col-lg-8 col-md-8 col-sm-12">
				<div class="row">
					<div class="col-lg-6 col-md-12 col-sm-12">
						<div class="card" style="height: 400px;">
							<div class="card-body">
								<h6 class="card-title text-start">TAUX DE DIPLOME / CYCLE</h6>

								<div id="chartContainer2" style="height: 300px; max-width: 920px; margin: 0px auto;"></div>

							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12 col-sm-12 effectif">
						<div class="card" style="height: 400px;">
							<div class="card-body">
								<h6 class="card-title text-start">TAUX DE DIPLOME / CYCLE</h6>

								<div id="chartContainer" style="height: 300px; width: 100%;"></div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row mb-2 pb-5">
			<div class="col-lg-4 col-md-4 col-sm-0"></div>
			<div class="col-lg-8 col-md-8 col-sm-12">
				<div class="card" style="height: 300px;">
					<div class="card-body">
						<h6 class="card-title text-start">TAUX D'APPRENANT</h6>
						<div id="chartContainer4" style="height: 200px; width: 100%;"></div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		{% include "commun/footer.html" %}
	</div>
{% endblock %}
{% block javascripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.0/circle-progress.min.js"></script>

	<script src="{% static 'chart/Chart.js' %}"></script>
	<script src="{% static 'js/own/chart.js' %}"></script>
	<script src="{% static 'js/own/main.js' %}"></script>
	<script src="{% static 'canvasjs/canvasjs.min.js' %}"></script>
	<script src="{% static 'canvasjs/jquery.canvasjs.min.js' %}"></script>
{% endblock %}
