{% extends "commun/base.html" %}

{% load static %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'chart/Chart.css' %}">
{% endblock %}

{% block title %}Education Préscolaire au Sénégal | Maketintel
{% endblock %}

{% block body %}
	<div class="container-fluid">
		{% include "commun/header.html" %}
	</div>

	<div class="custom">
		<div class="container">
			<div class="row  mb-5">
				<div class="col-12">
					<h1 class="text-center titre">Education Préscolaire au Sénégal</h1>
				</div>
			</div>

			<div class="row mb-4">
				<div class="col-12">
					<h2 class="text-center titre">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ea porro, repellendus culpa doloribus natus magni, ad cupiditate fugit dicta nisi sequi id, fugiat dolor! Voluptatibus, libero sed! Necessitatibus, minus!</h2>
				</div>
			</div>

			<div class="row">
				<div
					class="col-lg-3 col-md-3 col-sm-6 mb-3">
					<!-- Card -->
					<div
						class="card">
						<!-- Card content -->
						<div
							class="card-body">
							<!-- <div class="row mt-4 mb-4">
																																																																																																																																																																																																																						<div class="col-lg-4 col-md-4 col-sm-12">
																																																																																																																																																																																																																							<h6 class="text-center">Investissement de l'Etat</h6>
																																																																																																																																																																																																																							<h2 class="text-center">1 000 000 000</h2>
																																																																																																																																																																																																																						</div>
																																																																																																																																																																																																																						<div class="col-lg-4 col-md-4 col-sm-12">
																																																																																																																																																																																																																							<h6 class="text-center">Cout Moyen de formation</h6>
																																																																																																																																																																																																																							<h2 class="text-center">650 000</h2>
																																																																																																																																																																																																																						</div>
																																																																																																																																																																																																																						<div class="col-lg-4 col-md-4 col-sm-12">
																																																																																																																																																																																																																							<h6 class="text-center">Evaluation des dépenses</h6>
																																																																																																																																																																																																																							<h2 class="text-center">25 000 000 000</h2>
																																																																																																																																																																																																																						</div>
																																																																																																																																																																																																																					</div> -->
							<h4 class="card-title">Card title</h4>

							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's</p>
						</div>

					</div>
					<!-- Card -->
				</div>
				<div
					class="col-lg-3 col-md-3 col-sm-6 mb-3">
					<!-- Card -->
					<div
						class="card">
						<!-- Card content -->
						<div
							class="card-body">

							<!-- Title -->
							<h4 class="card-title">Card title</h4>
							<!-- Text -->
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
																																																																																																																																																																																																																																																																																																																																																														      content.</p>
						</div>

					</div>
					<!-- Card -->
				</div>
				<div
					class="col-lg-3 col-md-3 col-sm-6 mb-3">
					<!-- Card -->
					<div
						class="card">
						<!-- Card content -->
						<div
							class="card-body">

							<!-- Title -->
							<h4 class="card-title">Card title</h4>
							<!-- Text -->
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
																																																																																																																																																																																																																																																																																																																																																														      content.</p>
						</div>

					</div>
					<!-- Card -->
				</div>
				<div
					class="col-lg-3 col-md-3 col-sm-6 mb-3">
					<!-- Card -->
					<div
						class="card">
						<!-- Card content -->
						<div
							class="card-body">

							<!-- Title -->
							<h4 class="card-title">Card title</h4>
							<!-- Text -->
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
																																																																																																																																																																																																																																																																																																																																																														      content.</p>
						</div>

					</div>
					<!-- Card -->
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row mt-3">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<h1 class="text-center">Statistiques de l'enseignement préscolaire</h1>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-2"></div>
			<div class="col-2"></div>
			<div class="col-2">
				<select class="form-control" id="changeNiveau">
					<option value="" disabled selected>Changer niveau d'étude</option>
					<option value="prescolaire">Préscolaire</option>
					<option value="elementaire">Elémentaire</option>
					<option value="moyen">Moyen</option>
					<option value="secondaire">Secondaire</option>
				</select>
			</div>
			<div class="co-lg-2 col-md-2 col-sm-12">
				<select class="form-control" id="yearPrescolaire">
					<option disabled selected>Changer d'année</option>

					{% for annee in annees %}

						{% if annee == current_year %}
							<option selected value="{{annee}}">{{annee}}</option>

						{% else %}
							<option value="{{annee}}">{{annee}}</option>

						{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="row mt-4 mb-4">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="card" style="height: 505px; width:100%;">
					<div class="card-body">
						<div class="row">
							<div class="col-8">
								<h4 class="card-title">Taux brut d'admission
									{{ current_year }}
									<br>
									(<span class="niveau">Petite Section</span>)</h4>
							</div>
							<div class="col-4">
								<select class="form-control" id="niveau">
									<option value="" disabled>Niveau</option>
									<option value="ps" selected>Petite Section</option>
									<option value="ms">Moyenne Section</option>
									<option value="gs">Grande Section</option>
								</select>
							</div>
						</div>

						<div id="myChartTBA" style="height: 400px; width: 100%;"></div>

						<div class="row loader" style="Visibility: hidden;">
							<div class="col-5"></div>
							<div class="col-1" style="margin-top: 150px;">
								<div class="spinner-border" role="status">
									<span class="sr-only">Loading...</span>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="card" style="height: 505px; width:100%;">
					<div class="card-body">
						<div class="row">
							<div class="col-12">
								<h4 class="card-title">Taux brut de préscolarisation et indice de parité
									{{current_year}}</h4>
							</div>
						</div>
						<br>

						<div id="myChartTBP" style="height: 400px; width: 100%;"></div>

						<div class="row loader" style="Visibility: hidden;">
							<div class="col-5"></div>
							<div class="col-1" style="margin-top: 150px;">
								<div class="spinner-border" role="status">
									<span class="sr-only">Loading...</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Effectif préscolarisé 2018</h4>
						<canvas id="" width="400" height="300"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		{% include "commun/footer.html" %}
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{% static 'chart/Chart.min.js' %}"></script>
	<script src="{% static 'js/own/chartPrescolaire.js' %}"></script>
	<script src="{% static 'js/own/main.js' %}"></script>

	<script src="{% static 'canvasjs/canvasjs.min.js' %}"></script>
	<script src="{% static 'canvasjs/jquery.canvasjs.min.js' %}"></script>
{% endblock %}
