.custom{
    background-color: rgba(25, 175, 142, 0.795);
    margin-top: -120px;
    height: 750px;
}

h1.titre{
    margin-top: 150px;
    color: white;
    font-size: 56px;
    font-weight: bolder;
}

h2.titre{
    color: white;
}

.fluid{

    background-color: #F6F6F6;
}

.sidenav{
    color: black;
    font-size: 24px;
}
.sidenav:hover{
    color: #30E0B9;
    font-size: 22px;
}

.list{
  color: black;
  margin-left: 20px;
  border-bottom: thin;
}
.list:hover{
  color: black;
  border-bottom: 1mm ridge rgba(62, 243, 138, 0.6);
}




/* Style the button that is used to open and close the collapsible content */
.collapsible {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.color{
  background-color: #e6e3e38e;

}

.notColor{
  background-color: #ffffff;

}

.chevron{
  margin-left: 375px;
}

.list:hover{
  font-size: 16px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: rgba(204, 204, 204, 0.493);
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #ffffff;
}



@media only screen and (max-width: 600px) {
    .custom{
        background-color: rgba(25, 175, 142, 0.795);
        margin-top: -120px;
        height: 1220px;
    }

    .effectif{
        margin-top: 20px;
    }

  }