{% extends 'commun/base.html' %}

{% load static %}

{% block stylesheets %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock stylesheets %}
{% block body %}

<div class="container-fluid">
{% include 'commun/header.html' %}
</div>
    <div class="custom">
        <div class="container">
			<div class="row  mb-5">
				<div class="col-12">
					<h1 class="text-center titre">Bienvenue MarketIntel</h1>
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-lg-3 col-md-3"></div>
				<div class="col-lg-6 col-md-6">
					<form class="form-inline" action="{% url 'recherche_results' %}" method="GET">
						<div class="md-form active-purple-2 mb-3 autocomplete">
							<input id="inputSearch" name="q" class="form-control" type="search" placeholder="Rechercher par un mot ou une question" aria-label="Search">
						</div>
						<button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">
							<i class="fas fa-search fa-2x"></i>
						</button>
					</form>
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-12">
					<h2 class="text-center titre">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ea porro, repellendus culpa doloribus natus magni, ad cupiditate fugit dicta nisi sequi id, fugiat dolor! Voluptatibus, libero sed! Necessitatibus, minus!</h2>
				</div>
			</div>

			{% comment %} {% include "commun/circlebar.html" %} {% endcomment %}
		</div>
    </div>
{% endblock body %}